﻿<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<rewrite>
			<rules>
				<rule name="cruxRoute" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAny">
						<add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" ignoreCase="false" />
						<add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="/{R:1}" />
				</rule>
				<rule name="cruxDirectFile" stopProcessing="true">
					<match url="^.*$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="cruxCatchAll" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
		<urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="index.php" />
				<add value="index.phtm" />
				<add value="index.phtml" />
				<add value="index.json" />
				<add value="index.jsonp" />
				<add value="index.xml" />
				<add value="Default.htm" />
				<add value="Default.html" />
				<add value="Default.php" />
				<add value="Default.phtm" />
				<add value="Default.phtml" />
				<add value="Default.json" />
				<add value="Default.jsonp" />
				<add value="Default.xml" />
				<add value="iisstart.htm" />
				<add value="iisstart.html" />
				<add value="iisstart.php" />
				<add value="iisstart.phtm" />
				<add value="iisstart.phtml" />
				<add value="iisstart.json" />
				<add value="iisstart.jsonp" />
				<add value="iisstart.xml" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
