
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta Data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title -->
	<title>Crux Data Dump</title>

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<div class="container col-md-12">
	<div>
		<h1>&nbsp;</h1>
	</div>

	<!-- Details -->
	<div class="panel panel-primary">
		<div class="panel-heading">Details</div>
		<div class="panel-body">
			<?php if (function_exists('xdebug_var_dump')) : ?>
			<?php xdebug_var_dump($this->mValues); ?>
			<?php else : ?>
			<pre>
<?php var_dump($this->mValues) ?>
			</pre>
			<?php endif ?>
		</div>
		<div class="panel-footer">You are seeing this because HTML was the desired output, but no block file or content was defined in the response.</div>
	</div>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
