
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta Data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title -->
	<title>Crux Exception</title>

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<div class="container">
	<div class="page-header">
		<h1><?php echo $strCode ?> ( <?php echo (Crux\Core\Is::empty($intCode) ? '-nodode' : sprintf('<a href="http://php.net/manual/en/errorfunc.constants.php" target="_blank">%d</a>', $intCode)) ?> )</h1>
		<p class="lead">
		<div class="alert alert-danger">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			&nbsp;&nbsp;<?php echo $strError ?>
		</div>
		</p>
	</div>

	<!-- Details -->
	<div class="panel panel-info">
		<div class="panel-heading">Details</div>
		<div class="panel-body">
			<div class="col-md-8"><?php echo $strFile ?></div>
			<div class="col-md-4">Line <?php echo $intLine ?></div>
		</div>
		<div class="panel-footer">Where the error occurred</div>
	</div>

<?php if (!\Crux::isProduction()) : ?>
	<!-- Meta Data -->
	<div class="panel panel-info">
		<div class="panel-heading">Meta Data</div>
		<div class="panel-body">
			<div class="col-md-12">PHP <?php echo PHP_VERSION ?> (<?php echo PHP_OS ?>)</div>
		</div>
		<div class="panel-footer">
			Runtime Environment
		</div>
	</div>

	<!-- Context -->
	<div class="panel panel-info">
		<div class="panel-heading">Trace</div>
		<div class="panel-body">
			<pre>
<?php print_r($arrContext) ?>
			</pre>
		</div>
		<div class="panel-footer">How it happened</div>
	</div>
<?php endif ?>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
